.button {
	width: 309px;
	background: aqua;
	border: 1px red solid;
	margin: auto;
	padding: 24px 0;
	text-align: center;
}

.showForm {
	width: 800px;
	margin: auto;
	padding: 24px 0;
	text-align: left;
	border-bottom: 1px red solid;
	border-top: 1px red solid;
}
.validatedDiv {
	color: red;
}
